In [15]:
import pandas as pd

In [16]:
data=pd.read_csv('Ethnicity.csv')

In [17]:
data

,Ethnicity,Height (CM),Weight (Kg),Will survive till 70,Will survive till 70.1,Will survive till 70.2,Will survive till 70.3,Will survive till 70.4,Will survive till 70.5
0,White,186.0,90.0,Yes,Yes,Yes,Yes,Yes,Yes
1,African,185.0,98.0,No,No,No,No,No,No
2,Asian,175.0,80.0,No,No,No,No,No,No
3,White,180.0,88.0,Yes,Yes,Yes,Yes,Yes,Yes
4,Asian,178.0,NaN,No,No,No,No,No,No
5,Asian,172.0,72.0,Yes,Yes,Yes,Yes,Yes,Yes
6,African,178.0,75.0,No,No,No,No,No,No
7,White,NaN,89.0,Yes,Yes,Yes,Yes,Yes,Yes
8,African,186.0,90.0,Yes,Yes,Yes,Yes,Yes,Yes

In [18]:
data.head()

,Ethnicity,Height (CM),Weight (Kg),Will survive till 70,Will survive till 70.1,Will survive till 70.2,Will survive till 70.3,Will survive till 70.4,Will survive till 70.5
0,White,186.0,90.0,Yes,Yes,Yes,Yes,Yes,Yes
1,African,185.0,98.0,No,No,No,No,No,No
2,Asian,175.0,80.0,No,No,No,No,No,No
3,White,180.0,88.0,Yes,Yes,Yes,Yes,Yes,Yes
4,Asian,178.0,NaN,No,No,No,No,No,No

In [19]:
data.shape

(9, 9)

# find a null value in the dataset and if there is any null value in any column the put the mean value of that column

In [20]:
data.isnull()

,Ethnicity,Height (CM),Weight (Kg),Will survive till 70,Will survive till 70.1,Will survive till 70.2,Will survive till 70.3,Will survive till 70.4,Will survive till 70.5
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,True,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False

In [32]:
data.isnull().sum()

Ethnicity                 0
Height (CM)               0
Weight (Kg)               0
Will survive till 70      0
Will survive till 70.1    0
Will survive till 70.2    0
Will survive till 70.3    0
Will survive till 70.4    0
Will survive till 70.5    0
dtype: int64

In [33]:
data['Weight (Kg)'].fillna(data['Weight (Kg)'].mean(),inplace = False)

0    90.00
1    98.00
2    80.00
3    88.00
4    85.25
5    72.00
6    75.00
7    89.00
8    90.00
Name: Weight (Kg), dtype: float64

# check what are the different types of Ethnicity are there in our dataset.what is the occurence of each Ethnicity in the data?

In [36]:
data.head(2)

,Ethnicity,Height (CM),Weight (Kg),Will survive till 70,Will survive till 70.1,Will survive till 70.2,Will survive till 70.3,Will survive till 70.4,Will survive till 70.5
0,White,186.0,90.0,Yes,Yes,Yes,Yes,Yes,Yes
1,African,185.0,98.0,No,No,No,No,No,No

In [37]:
data['Ethnicity'].value_counts()

Asian      3
White      3
African    3
Name: Ethnicity, dtype: int64

In [39]:
#show  all the records where the survival at 70.3 is YES
data[data['Will survive till 70.3'].isin(['Yes'])]

,Ethnicity,Height (CM),Weight (Kg),Will survive till 70,Will survive till 70.1,Will survive till 70.2,Will survive till 70.3,Will survive till 70.4,Will survive till 70.5
0,White,186.0,90.0,Yes,Yes,Yes,Yes,Yes,Yes
3,White,180.0,88.0,Yes,Yes,Yes,Yes,Yes,Yes
5,Asian,172.0,72.0,Yes,Yes,Yes,Yes,Yes,Yes
7,White,180.0,89.0,Yes,Yes,Yes,Yes,Yes,Yes
8,African,186.0,90.0,Yes,Yes,Yes,Yes,Yes,Yes